header {
    height: 60px;
}

.container-fluid {
    padding: 60px 0 45px 0;
}

footer {
    color: #fff;
    height: 45px;
}

.btn-link:hover,
.btn-link {
    color: #343a40;
    text-decoration: none;
}

.pac-container {
    /* To ensure the autocomplete drop down appears over the modal */
    z-index: 1051;
}

#select_place_lng,
#select_place_lat {
    display: none;
}
